.contenedor{
    width:100%;
    height: calc(100vh - 100px);
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    background-color: lightcyan;
}
.nota{
    width:150px;
    height: 200px;
    padding: 10px;
    margin:15px;
    background-color:white;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.19);
    -moz-box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.19);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.19);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
