i{
    align-self: flex-end;
    cursor:pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin-bottom: 20px;
}
